html(lang='en')
    head
        title Users project

        script(type='text/javascript' src='client.js' defer)
    body 
        h1 All LeotardCraft projects
        #projects
                .user-container
                    p #{users}
